<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<coverage>
	    <include>
	        <directory suffix=".php">src/</directory>
	    </include>
	</coverage>
	<testsuites>
		<testsuite name="Unit Tests">
			<directory suffix="Test.php">./tests/unit/</directory>
		</testsuite>
		<testsuite name="Legacy Unit Tests">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<exclude>./tests/test-sample.php</exclude>
		</testsuite>
		<testsuite name="Integration Tests">
			<directory suffix="Test.php">./tests/Integration/</directory>
		</testsuite>
	</testsuites>
</phpunit>
